.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .banner-image {
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #d32f2f;
  }
  